body {
	background-image:url(bg.jpg);
	background-position:center top;
	background-repeat: no-repeat;
	background-attachment:scroll;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 12px;
}
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	text-align: left;
}
.orangeColor {color: #FF9900}
.greenColor {color: #006600}
.greyColor {color: #666666}
.liteGreyColor {color: #7C7C7C}
.centerStuff {
	text-align: center;
}
.boldStuff {
	font-weight: bold;
}
.textsize9 {font-size: 9px}
.textsize10 {font-size: 10px}
.textsize16 {font-size: 16px;}
.formFields {
	background-color:#E7F3FE;
	color:#000;
}

/*--------- Header Buttons Style -------------- */
.headerBtns{
	margin-bottom:4px;
}
.headerBtns a{
	background-image:url(headerBtnsBG.jpg);
	border:#999 1px solid;
	color:#333;
	text-decoration:none;
	padding-left:10px;
	padding-right:10px;
	padding-top:6px;
	padding-bottom:6px;
}
.headerBtns a:link{
	color:#333;
}
.headerBtns a:hover {
	background-image:url(headerBtnsBGover.jpg);
	border:#666 1px solid;
	text-decoration:none;
}
.headerBtns a:visited {
	color:#333;
}
/*--------- Main Body table styles -------------- */
.mainBodyTable {
	width:70%;
}

 /*
  PURE CSS DROP MENU - VALIDATES AND WORKS IN ALL MAJOR BROWSERS   
*/
.dc{
    display:inline;
    position: relative;
    z-index: 50;
    margin:0;
    padding:0;
	text-align:left;
}
.dc:hover{
    background-color: transparent;
    z-index: 50;
}
.dc ul{ 
    margin:0;
    padding:0;
    position: absolute;
    width:106px;
    background-color: #6CB6FF;
    left: -1000px;
    list-style-type:none;
    visibility: hidden;
}
.dc:hover ul{ 
    visibility: visible;
    top: 13px;
    left:-4px;
}
/* -------------------- What the list items will look like inside the dropdown  ---------------------- */
.dc ul li{
    margin:0;
    padding:0;
    background-color: #D7EBFF;
    margin:1px;
}
.dc ul li:hover {
    background-color: #FFF;
    margin:1px;
}
/* -------------------- What the links look like inside the dropdown  ---------------------- */
.dc ul li a {
    display:block;
    padding:5px;
    font-size:11px;
}
.dc ul li a:link {
    color: #03F;
    text-decoration: none;
}
.dc ul li a:visited {
    text-decoration: none;
    color: #03F;
}
.dc ul li a:hover {
    text-decoration: none;
    color: #03F;
}
.dc ul li a:active {
    text-decoration: none;
    color: #03F;
}
/*      END PURE CSS DROP MENU        */

/*      DEFAULT SITEWIDE LINK STYLE        */
a:link {
	color: #06F;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #06F;
}
a:hover {
	text-decoration: underline;
	color: #090;
}
a:active {
	text-decoration: none;
	color: #06F;
}
/*      END DEFAULT SITEWIDE LINK STYLE        */